* {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box !important;
}
.carousel-header{
 font-family: var(--carouselheader);
}
:root {
    --navFont: 'PT Serif', serif;
    --carouselheader: 'Lato', sans-serif;
    --nav-heading: 'Tilt Neon', cursive;
    --nav-li: 'Golos Text', sans-serif;

}
.contained {
    width: 90%;
    margin: auto;
}

/* Nav-heading */
.nav-heading{
   font-family: var(--nav-heading); 
   font-size: 23px;
}
/* nav-li */
.nav-li{
    font-family: var(--nav-li);
    font-size: 17px;
}
li {
    padding: 0px 20px !important;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;


}

.img-text {
    position: absolute;
    width: 60%;
    text-align: center;
    transform: translateX(-50%);
    top: 30%;
    left: 50%;
    color: #ffffff;

}

.img-text h1 {
    font-size: 80px;

}

.carousel-item {
    position: relative;
}

.btn-shop:hover {
    background-color: goldenrod !important;
    border: none !important;
}

.box{
    transition: .3s;
}

.box:hover {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);    
    cursor: pointer;
    transition: .3s;
  
}

.boxed-bottom-btn {
    width: fit-content;
    height: fit-content;
    border: 2px solid goldenrod;
    padding: 10px;
    margin: auto !important;
}

.boxed-bottom-btn:hover {
    background-color: goldenrod;
}

.bg-goldenrod {
    background-color: goldenrod !important;
}



.boxed-contained-btn {
    width: fit-content;
    height: fit-content;
    border: 2px solid goldenrod;
    padding: 10px;
}

.product-boxed-btn {
    width: fit-content;
    height: fit-content;
    border: 2px solid white;
    padding: 10px;
    color: white;
}
.counts{
    background-image: url(../Image/counts-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
  
  .counts img{
     filter: grayscale(1);
     transition: .3s;
     height: 200px;
     width: 100%;
  }
.product-boxed-btn:hover {
    background-color: goldenrod;
    color: black;
    border: 0;
}
@media only screen and (max-width:576px) {
 .carousel-header{
    font-size: 30px !important;
 }
 .boxed-bottom-btn {
    width: fit-content;
    height: fit-content;
    border: 2px solid goldenrod;
    padding: 10px;
    margin: auto !important;
}  
.categories{
    margin-bottom: 0px !important;
}

.boxed-contained-bottom{
 margin-top: 100px !important;
 display: block !important;
}
.boxed-contained-btn{
    margin: auto !important;
    margin-top: 10px !important;
}
.counter-container{
    text-align: center !important;
}

.boxed-contained-bottom1,.boxed-contained-bottom2,.boxed-contained-bottom3{
    width: 100% !important;
    margin-bottom: 20px !important;
    }
.about-paragraph{
    font-size: 12px;
}
.counts-heading{
    font-size: 18px;
}
.counts-paragraph{
    font-size: 10px;
}
.chooose-btn{
    margin: auto !important;
    margin-bottom: 10px !important;
}
.choose-heading{
    font-size: 20px !important;
    text-align: center ;
}
.choose-paragraph{
    font-size: 16px !important;
    text-align: center;
}
.discover-btn{
    margin: auto;
    font-size: 12px;
    margin-bottom: 10px !important;
}
.product-font h1{
    font-size: 16px !important;
    text-align: center !important;
}
.product-font p{
    font-size: 13px !important;
    text-align: center !important;
}
.Choose-contained{
    margin-bottom: 325px !important;
}
.choose-hr{
    display: none !important;
}
.customer-speech{
    font-size: 16px !important;
}
.star-rating{
    height: fit-content !important;
    margin-bottom: 10px !important;
}
.article-heading{
    font-size: 14px !important;
}
.bag-article1{
margin-bottom: 80px !important;
}
 /* .counts{
    margin-bottom: 50px !important;
} 
.about-us-contained{
    margin-bottom: 300px !important;
    text-align: center !important;
    margin-top: 700px !important;
}
.boxed-contained-btn{
    margin: auto;
}
.Choose-contained{
    text-align: center !important;
    margin-bottom: 620px !important;
}
.box-choose-contained1{
    margin-bottom: 30px;
}
.Choose-contained h1{
    font-size: 30px !important;
    
}
.box-quote{
    margin-bottom: 30px;
}
.chooose-btn{
    margin: auto !important;
}
.Testimonials-container{
    margin-top: 40px !important;
}
.boxed-contained-bottom{
    display: block !important;
   
    margin-bottom: 800px !important;
}
.star-rating{
    margin-bottom: 50px !important;
    height: 440px !important;
}
.fa-check-square{
    display: none !important;
}
.product-container{
    margin-top: 40px !important;
}
.discover-btn{
    margin: auto !important;
}
.counter-container{
    margin-bottom: 150px !important;
}
.boxed-contained-bottom1,.boxed-contained-bottom2,.boxed-contained-bottom3{
width: 100% !important;
margin-bottom: 20px !important;
}
.icon{
    display: none !important;
}
.bag-article{
    margin-bottom: 150px !important;
}
footer{
    margin-top: 300px !important;
} */

}